{{ range .Params.components }}
  {{ if eq .type "accordion" }}
    {{ template "accordion-component" . }}
  {{ else if eq .type "cards" }}
    {{ template "cards-component" . }}
  {{ else if eq .type "hero" }}
    {{ template "hero-component" . }}
  {{ else if eq .type "text" }}
    {{ template "text-component" . }}
  {{ else }}
    {{ warnf "%q is not a supported type" .type }}
  {{ end }}
{{ end }}

{{ define "accordion-component" }}
  <section class="accordion">
    {{ $name := substr (string math.Rand) 4 8 }}
    {{ range .details }}
      <details name="accordion-{{ $name }}">
        <summary>{{ .summary | markdownify }}</summary>
        {{ .content | markdownify }}
      </details>
    {{ end }}
  </section>
{{ end }}

{{ define "cards-component" }}
  <section class="cards cards--len-{{ .cards | len }}">
    {{ range .cards }}
      <article class="card">
        {{ with .title }}
          <h3>
            {{ . }}
          </h3>
        {{ end }}
        {{ with .image }}
          <p>
            <img src="{{ . }}" alt="">
          </p>
        {{ end }}
        {{ with .content }}
          {{ . | markdownify }}
        {{ end }}
        {{ with .button }}
          <p>
            <a href="{{ .link }}">{{ .label }}</a>
          </p>
        {{ end }}
      </article>
    {{ end }}
  </section>
{{ end }}

{{ define "hero-component" }}
  <section class="hero" {{ with .image }}style="background-image:url({{ . }})"{{ end }}>
    {{ with .title }}
      <h3>
        {{ . }}
      </h3>
    {{ end }}
  </section>
{{ end }}

{{ define "text-component" }}
  <section class="text">
    {{ with .content }}
      {{ . | markdownify }}
    {{ end }}
  </section>
{{ end }}
