{{ define "main" }}
  <h2>
    {{ .Title }}
  </h2>
  {{ range .Params.sections }}
    {{ if eq .type "hero" }}
      {{ template "hero" . }}
    {{ else if eq .type "card" }}
      {{ template "card" . }}
    {{ else if eq .type "text" }}
      {{ template "text" . }}
    {{ else }}
      {{ warnf "%q is not a supported type" .type }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "hero" }}
  <section class="hero" {{ with .image }}style="background-image:url({{ . }})"{{ end }}>
    {{ with .title }}
      <h3>
        {{ . }}
      </h3>
    {{ end }}
  </section>
{{ end }}

{{ define "card" }}
  <section class="card">
    {{ with .title }}
      <h3>
        {{ . }}
      </h3>
    {{ end }}
    {{ with .image }}
      <p>
        <img src="{{ . }}" alt="">
      </p>
    {{ end }}
    {{ with .content }}
      {{ . | $.Page.RenderString (dict "display" "block") }}
    {{ end }}
    {{ with .button }}
      <p>
        <a href="{{ .link }}">{{ .label }}</a>
      </p>
    {{ end }}
  </section>
{{ end }}

{{ define "text" }}
  <section class="text">
    {{ with .content }}
      {{ . | $.Page.RenderString (dict "display" "block") }}
    {{ end }}
  </section>
{{ end }}
